/* Global stylesheet */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 237, 237);
}

.App {
    min-width: fit-content;
}

button {
    padding: .5rem 1rem;
    background-color: #ffd807;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #ff9900;
}

button:active {
    box-shadow: inset 0 0 2px 2px lightblue;
}