/* Stylesheet for SearchPage.js */

.SearchPage {
    width: 100%;
    background-color: white;
}

.SearchPage h2 {
    padding: 2rem 0;
    text-align: center;
}

.resultsDiv {
    display: grid;
    grid-template-columns: repeat(auto-fill, 15rem );
}