/* Stylesheet fro NavBar Component */

.NavBar {
    background-color: rgb(42, 42, 56);
    height: 3.75rem;
    display: flex;
    align-items: center;
    padding: .4rem;
    gap: .5rem;
}

.NavBar > * {
    flex-shrink: 0;
}

.navBtn {
    color: white;
    white-space: nowrap;
    padding-inline: .5rem;
    border: 1px solid transparent;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}

.navBtn:hover {
    border: 1px solid white;
}

.addressWrapper {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.addressBtn {
    overflow: hidden;
}

.pinImg {
    height: 1.3rem;
    width: 1.5rem;
}

.logoBtn {
    overflow: hidden;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImg {
    width: 165%;
}

.accountBtnWrapper {
    display: flex;
    gap: .4rem;
}

.downArrowImg {
    width: .8rem;
    height: .8rem;
    align-self: end;
}

