/* Stylesheet for ProductCarousel.js */
.ProductCarousel {
    width: 100%;
    background-color: white;
    position: relative;
}

.ProductCarousel h2 {
    text-align: center;
    padding: .5rem 0;
}

.carousel {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    min-height: 15rem;
}

.arrowBtn {
    position: absolute;
    top: 50%;
}

.arrowBtn.left {
    left: .25rem;
}

.arrowBtn.right {
    right: .25rem;
}
