.cartBtn {
    overflow: hidden;
    position: relative;
}

.cartWrapper {
    display: flex;
    gap: .3rem;
}

.cartImg {
    height: 2rem;
}

.cartText {
    height: 100%;
    align-self: end;
}

.cartCounter {
    position: absolute;
    left: 1.67rem;
    transform: translate(-50%);
    color: #ff9900
}