/* Stylesheet for ProductDiv component */

.ProductDiv {
    overflow: hidden;
    height: 15rem;
    width: 15rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.ProductDiv img {
    height: 80%;
    object-fit: contain;
    flex-shrink: 1;
}

.ProductDiv .prodTitle {
    height: 20%;
    display: flex;
    justify-content: center;    
    align-items: center;
    text-align: center;
}

